<html>
<head>
  <meta charset="UTF-8">
  
  <title>LightPark</title>
  
  <script type="text/javascript" src="/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <style type="text/css">
      html, body, #map-canvas { height: 350px; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByaEiYiK-0ZIp4Fq-Y6Ly_rtAQkZiEy0E">
    </script>



</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">LightPark</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{!-- <li class="{{ipads_active}}"><a href="/#">Check In</a></li> --}}
        <li class="{{arduinos_active}}"><a href="/#">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#">Log out</a></li>
      </ul>
    </div> {{!-- /.navbar-collapse --}}
  </div> {{!-- /.container --}}
</nav>

  <div class="container-fluid">
    {{{body}}}
  </div>
</body>
</html>