<div class="row">
  <div class="col-xs-12">
    <div id="map-canvas"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br>
    <p class="text-center"> <button class="btn btn-lg btn-success" style="width: 100%;" >Check In</button> </p>
  </div>
</div>